h5py==2.10.0
ipykernel==5.2.1
ipython==7.14.0
jupyter==1.0.0
matplotlib==3.2.1
notebook==6.0.3
numpy==1.18.4
pandas==1.0.3
scipy==1.4.1
torch==1.5.0
seaborn==0.10.1
scikit-learn==0.23.0
pyro-ppl==1.3.1
tqdm==4.46.0
sacred==0.8.1